<form action="/users/login" method="post" class="login">
    <div class="container">
        <h2 class="heading">Login</h2>
        <div class="form-control">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="form-control">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
    
        <button type="submit">Login</button>

        <div class="register-link">Already have an account ? &nbsp;<a href='/users/register'>Register</a></div>
    </div>
</form>